node_modules/
.next/
public/
material-dashboard/
description-contexte/
recovery/
recovery
API_Doc/
API_Firebase/
description/
endpointsDescription
.env
.env.example
.env.test
serviceAccountKey.json
.env.local
.env.development.local
.env.test.local
.env.production.local