node_modules/
.next/
public/
material-dashboard/
description-contexte/
recovery/
recovery
API_Doc/
API_Firebase/
description/
endpointsDescription
.env
.env.example
.env.test
serviceAccountKey.json
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.exemple
.qodo
backend\src\scripts
backend/src/scripts/findUser.ts
backend/src/scripts/manageAffiliateProfile.ts
backend/src/scripts/setTempPassword.ts
backend/src/scripts/syncAffiliateProfiles.ts
