.appointmentSchedulingContainer {
  background-color: var(--white);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: var(--primary-box-shadow);
}

.appointmentSchedulingContainer h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--gray-900);
  margin-bottom: 1rem;
}

/* Styles for the datepicker can be added here */

.appointmentSchedulingContainer div {
  margin-top: 1rem;
}

.appointmentSchedulingContainer h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--gray-900);
  margin-bottom: 0.5rem;
}

/* Styles for time slot selection can be added here */
