.appointmentSchedulingContainer {
  background-color: var(--white);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: var(--primary-box-shadow);
}

.appointmentSchedulingContainer h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--gray-900);
  margin-bottom: 1rem;
}

.appointmentSchedulingContainer .date-picker {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--gray-200);
  border-radius: 0.5rem;
}

.appointmentSchedulingContainer .time-slot-picker {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--gray-200);
  border-radius: 0.5rem;
}
