.team-management {
  background-color: var(--white);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: var(--pripary-box-shadow);
}

.team-management h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--gray-900);
  margin-bottom: 1rem;
}

.team-management table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
}

.team-management th {
  padding: 1rem;
  text-align: left;
  font-weight: 500;
  color: var(--gray-500);
  border-bottom: 1px solid var(--gray-200);
}

.team-management td {
  padding: 1rem;
  color: var(--gray-700);
  border-bottom: 1px solid var(--gray-200);
}

.team-management tr:hover {
  background-color: var(--gray-50);
}

.team-management button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: var(--primary);
  color: var(--absolute-white);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.team-management button:hover {
  opacity: 0.9;
}

.team-management h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--gray-900);
  margin-bottom: 1rem;
}

.team-management label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--gray-700);
}

.team-management input[type='text'] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-200);
  margin-bottom: 1rem;
}
